<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form
          action=""
          class="sign-in-form"
          (ngSubmit)="submit()"
          [formGroup]="signInForm"
        >
          <h2 class="title">Sign In</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input
              formControlName="email"
              type="text"
              placeholder="email"
              [(ngModel)]="payload.email"
            />
          </div>
          <div
            *ngIf="
              signInForm.controls.email?.touched &&
              signInForm.controls.email?.invalid
            "
            class="text-danger"
            style="color: red"
          >
            Email is required.
          </div>

          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              placeholder="Password"
              [(ngModel)]="payload.password"
              formControlName="password"
            />
          </div>
          <div
            *ngIf="
              signInForm.controls.password?.touched &&
              signInForm.controls.password?.invalid
            "
            class="text-danger"
            style="color: red"
          >
            Password is Required
          </div>

          <input
            type="submit"
            value="Login"
            class="btn solid"
            [disabled]="!signInForm.valid"
          />

          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-google"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here?</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio minus
            natus est.
          </p>

          <button
            class="btn transparent"
            id="sign-up-btn"
            routerLink="/register"
          >
            Sign Up
          </button>
        </div>
        <img src="../../../assets/img/log.svg" class="image" alt="" />
      </div>
    </div>
  </div>
</body>

