<p>preparations works!</p>
<div class="grid">
    <div class="col-12">
      <div class="card px-6 py-6">
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button
                pButton
                pRipple
                label="New"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openNew()"
              ></button>
            </div>
          </ng-template>
        </p-toolbar>
        <!--      tableau d'affichage  -->
        <p-table
          #dt
          [value]="allPreparations"
          [columns]="cols"
          responsiveLayout="scroll"
          [rows]="10"
          [globalFilterFields]="[
            'name',
            'country.name',
            'representative.name',
            'status'
          ]"
          [paginator]="true"
          [rowsPerPageOptions]="[10, 20, 30]"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          selectionMode="multiple"
          [rowHover]="true"
          dataKey="id"
        >
          <ng-template pTemplate="caption">
            <div
              class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
            >
              <h5 class="m-0">Manage preparations</h5>
            </div>
          </ng-template>
          <!-- les titres du tableau  -->
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="code">Designation</th>
              <th pSortableColumn="name">Date</th>
  
              <th>Actions</th>
            </tr>
          </ng-template>
          <!-- les titres du tableau  -->
          <!-- le contenu du tableau -->
          <ng-template pTemplate="body" let-product>
            <tr>
              <td style="width: 14%; min-width: 10rem">
                {{ product.designation }}
              </td>
              <td style="width: 14%; min-width: 10rem">
                {{ product.date | date }}
              </td>
  
              <td>
                <div class="flex">
                  <!-- fonction edit  -->
  
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                  ></button>
                  <!-- fontion delete  -->
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteProduct(product)"
                  ></button>
                </div>
              </td>
            </tr>
          </ng-template>
          <!-- le contenu du tableau -->
        </p-table>
      </div>
      <!-- dialog add labo  -->
  
      <p-dialog
        [(visible)]="productDialog"
        [style]="{ width: '450px' }"
        header="Preparation "
        [modal]="false"
        class="p-fluid h-12"
        [style]="{ width: '50rem' }"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
        [maximizable]="true"
      >
        <ng-template pTemplate="content">
          <div class="field">
            <input
              pInputText
              type="text"
              placeholder="Designation"
              class="w-full sm:w-auto"
              [(ngModel)]="preparationPayload.designation"
            />
            <br /><br />
            <div class="field">
              <input
                pInputText
                type="text"
                placeholder="quantite Eau "
                class="w-full sm:w-auto"
                [(ngModel)]="preparationPayload.quantiteEau"
              />
            </div>
          </div>
          <div class="field">
            <p-calendar [(ngModel)]="preparationPayload.date" />
          </div>
          products:
  
          <p-table
            [value]="preparationPayload.preparationReqProduits"
            [tableStyle]="{ 'min-width': '50rem' }"
            *ngIf="!skeletonLoaderDisplay"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Produit</th>
                <th>quantite</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr
                [ngClass]="{
                  'row-accessories': product.category === 'Accessories'
                }"
              >
                <td>{{ product.idProduit }}</td>
                <td>{{ product.quantite }}</td>
              </tr>
            </ng-template>
          </p-table>
          <div *ngIf="skeletonLoaderDisplay" class="field">
            <p-skeleton styleClass="mb-2" />
            <p-skeleton styleClass="mb-2" />
            <p-skeleton styleClass="mb-2" />
          </div>
          <p-button (click)="showDialog()" label="Ajouter produit" />
          <p-dialog
            header="Add Product"
            [modal]="true"
            [(visible)]="visible"
            [style]="{ width: '30rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
            [maximizable]="true"
          >
            <div class="flex align-items-center gap-3 mb-3">
              <p-dropdown
                [options]="allProducts"
                [(ngModel)]="productQuantityPayload.idProduit"
                optionLabel="designation"
                optionValue="id"
                placeholder="Select Product"
                (onClick)="choosePoductToAdd()"
                appendTo="body"
              >
              </p-dropdown>
              <!--
              <input
                pInputText
                id="quantite"
                class="flex-auto"
                autocomplete="off"
                placeholder="quantite"
                [(ngModel)]="productQuantityPayload.quantite"
              /> -->
              <p-inputNumber
                id="quantite"
                class="flex-auto"
                autocomplete="off"
                placeholder="quantite"
                [(ngModel)]="productQuantityPayload.quantite"
                mode="decimal"
                inputId="withoutgrouping"
                [useGrouping]="false"
              />
            </div>
  
            <div class="flex justify-content-end gap-2">
              <p-button
                label="Cancel"
                severity="secondary"
                (click)="visible = false"
              />
              <p-button label="Save" (click)="addProductToPreparation()" />
            </div>
          </p-dialog>
        </ng-template>
  
        <!-- dialog add labo  -->
  
        <ng-template pTemplate="footer">
          <!-- button to cancel adding  -->
          <button
            pButton
            pRipple
            label="Cancel"
            icon="pi pi-times"
            class="p-button-text"
            (click)="hideDialog()"
          ></button>
          <!-- button to save  -->
          <button
            pButton
            pRipple
            label="Save"
            icon="pi pi-check"
            class="p-button-text"
            (click)="savePreparation()"
          ></button>
        </ng-template>
      </p-dialog>
  
      <!-- delete one  product dialog  -->
      <p-dialog
        [(visible)]="deleteProductDialog"
        header="Confirm"
        [modal]="true"
        [style]="{ width: '450px' }"
      >
        <div class="flex align-items-center justify-content-center">
          <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
          <span *ngIf="rubriqueRes"
            >Are you sure you want to delete the preparationPayload
            <b>{{ rubriqueRes.designation }}</b
            >?</span
          >
        </div>
        <ng-template pTemplate="footer">
          <button
            pButton
            pRipple
            icon="pi pi-times"
            class="p-button-text"
            label="No"
            (click)="deleteProductDialog = false"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-check"
            class="p-button-text"
            label="Yes"
            (click)="confirmDelete(rubriqueRes.id)"
          ></button>
        </ng-template>
      </p-dialog>
      <!-- delete one  product dialog  -->
    </div>
  </div>
  